<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="googlechrome" />
  <package id="steam" />
  <package id="epicgameslauncher" />
  <package id="hwmonitor" />
  <package id="crystaldiskinfo" />
  <package id="speedtest" />
  <package id="7zip" />
  <package id="discord" />
  <package id="ea-app" />
  <package id="ubisoft-connect" />
</packages>
