/* Padding Between Toolbar Icons (Back, Forward, Refresh) Inside Their Hitbox */
:root{
    --toolbarbutton-inner-padding:5px !important;
}

/* Fix Tiny Reader Mode Button */
#reader-mode-button {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

/* Small URL Bar Height */
:root, 
#urlbar-container, 
#search-container, 
#nav-bar-customization-target, 
#nav-bar {
    --urlbar-min-height: 28px !important;
}

/* Make Toolbar Small */
#urlbar-container, 
#search-container, 
#nav-bar-customization-target, 
#nav-bar {
    --urlbar-toolbar-height: 20px !important;
    --urlbar-container-height: 37px !important;
}

/* Remove Top And Bottom Padding Of URL Bar */
#urlbar-container {
    padding-top: 8px !important;
    padding-bottom: 0px !important;
}

/* Make Back Button Closer To Left Side */
#back-button {
    margin-left: 5px !important;
}

/* Kill Refresh Animation */
#nav-bar-customization-target > 
#stop-reload-button > 
:is(#reload-button, #stop-button) > 
.toolbarbutton-animatable-box {
    display: none !important;
}

/* Make Stop Refresh Icon Visible */
#stop-reload-button[animate] > 
#reload-button > 
.toolbarbutton-icon, #stop-reload-button[animate] > 
#reload-button[displaystop] + #stop-button > 
.toolbarbutton-icon {
    fill: #eeeeee !important;
}

/* Make Site Information Dropdown Look Like Brave (Kinda) */
/* Connection Not Secure Text Color */
.identity-popup-connection-not-secure{
    color: #F28B82 !important;
}

/* Connection Not Secure Text Color */
.identity-popup-connection-secure{
    color: #81C995 !important;
}

/* Make Not Secure Icon Have Separator Line */
#identity-box[pageproxystate="valid"].notSecure::after {
width: 1px;
content: "";
margin-left: 0px;
display: -moz-box;
background-image: linear-gradient(
    transparent 20%,
    color-mix(in srgb, currentColor 20%, transparent) 10%,
    color-mix(in srgb, currentColor 20%, transparent) 85%,
    transparent 20%
);
transition: opacity 300ms linear !important;
}
#identity-box:hover:after,
#identity-box:hover:after {
    opacity: 0 !important;
}

/* Make Not Secure Box Have Text */
#identity-box[pageproxystate="valid"].notSecure ::after {
    content: "Not secure";
    font-size: 14px;
    color: #9AA0A6;
    /* Space Between Icon & Text */
    text-indent: 5px;
    /* Make Text Centred */
    padding: 0 01px 2px 0;
    display: block;
    line-height: initial; /* New content takes up original line height */
}

/* Moves Bookmark Button To The Left Of URL Bar */
#star-button-box {
    display: none;
}

/* Make Bookmark Button Centred Again */
#star-button-box.urlbar-page-action {
    height: 26px !important;
    width: 26px !important;
    padding: 5px !important;
}

/* URL Bar Fade Animation On Hover */
#urlbar-input-container:hover {
    background-color: #23252F !important;
}
#urlbar-input-container {
    transition: background-color .3s ease-in;
}

/* Make Reload Button Smaller */
#reload-button > .toolbarbutton-icon {
    padding: 6.5px !important;
}

/* Make Bookmark Button Smaller */
#star-button.urlbar-icon {
    padding: 50px
}

/* Make Back / Forawrd Button Smaller */
#back-button > .toolbarbutton-icon,
#forward-button > .toolbarbutton-icon{
    padding: 5.5px !important;
}

/* Fix Search Bookmarks Item In Settings Dropdown */
#panelMenu_searchBookmarks > image:nth-child(1) {
    margin-left: -10px !important;
}
#panelMenu_searchBookmarks {
    height: 32px !important;
}
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

/* Use square tabs */
#tabbrowser-tabs {
    --user-tab-rounding: 0px;
}
/* Connect tab to address bar */
.tab-background {
    border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important;
}

/* Prevent vertical tab expansion due to overflow */
#scrollbutton-up, #scrollbutton-down {
    border-top-width: 1px !important;
    border-bottom-width: 0 !important;
}

/* Remove padding between tabs */
.tabbrowser-tab {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Add vertical separator between inactive tabs  */
.tabbrowser-tab:not([first-visible-tab])::before,
.tabbrowser-tab[last-visible-tab]::after {
    content: "";
    display: inherit;
    position: absolute;
    border-left: 1px solid currentColor;
    margin-block: calc(var(--tab-min-height) / 4 - 3px);
    opacity: 0.2;
}

.tabbrowser-tab:is(
    [selected],
    [selected] + .tabbrowser-tab:not([selected]),
    [multiselected])::before,
.tabbrowser-tab:is(
    [selected],
    [multiselected])::after {
    border-color: transparent;
}

.tabbrowser-tab::after {
    margin-left: -1px;
}
/* Reduce spacing between window and pinned tabs by default */
.titlebar-spacer[type="pre-tabs"] {
    width: 12px !important;
}

/* Remove spacing between window and pinned tabs on Windows */
@media (-moz-os-version: windows-win7), (-moz-platform: windows-win7),
  (-moz-os-version: windows-win8), (-moz-platform: windows-win8),
  (-moz-os-version: windows-win10), (-moz-platform: windows-win10) {
    .titlebar-spacer[type="pre-tabs"] {
        display: none !important;
    }
}

/* Remove spacing between pinned tabs and other tabs */
.tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0 !important;
}

.tabbrowser-tab:is([selected], [multiselected]) .tab-context-line {
    background-color: var(--tab-line-color) !important;
}

/* Remove some space between bookmark icons. If you like having things a bit more spaced out, you can instead add the padding statements. */
#PlacesToolbarItems > .bookmark-item {
  margin-left: 4px !important;
  margin-right: 4px !important;

  padding-left: 5px !important;
  padding-right: 5px !important;
 
}

/* Hide "Other Bookmarks" folder in the bookmarks toolbar */
#PlacesToolbar #OtherBookmarks { display: none !important; }

/*remove bookmarks spaces of icons inside folder*/
menupopup > menuitem, menupopup > menu {padding-top: 2px !important; padding-bottom: 2px !important;}
*|*:root {--arrowpanel-menuitem-padding: 2px 5px !important;}
/*the lower space setting of bookmarks tab*/
#PlacesToolbarItems {
	margin-bottom: 4px !important;
}