<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="winget" />
  <package id="googlechrome" />
  <package id="brave" />
  <package id="firefox" />
  <package id="steam" />
  <package id="epicgameslauncher" />
  <package id="hwmonitor" />
  <package id="crystaldiskinfo" />
  <package id="vmwareworkstation" />
  <package id="signal" />
  <package id="vscode" />
  <package id="notepadplusplus" />
  <package id="windows-sdk-10.0" />
  <package id="nodejs" />
  <package id="python" />
  <package id="git" />
  <package id="anydesk" />
  <package id="microsoft-windows-terminal" />
  <package id="speedtest" />
  <package id="github" />
  <package id="vlc" />
  <package id="treesizefree" />
  <package id="totalcommander" />
  <package id="wireshark" />
  <package id="deluge" />
  <package id="dbeaver" />
  <package id="cryptomator" />
  <package id="steelseries-engine" />
  <package id="7zip" />
  <package id="flameshot" />
  <package id="twinkle-tray" />
  <package id="k-litecodecpackmega" />
  <package id="malwarebytes" />
  <package id="internet-download-manager" />
  <package id="warp" />
  <package id="openrgb" />
  <package id="tailscale" />
  <package id="winfsp" />
  <package id="NVCleanstall" />
  <package id="nvidia-inspector" />
  <package id="rufus" />
  <package id="regshot" />
  <package id="handbrake" />
</packages>
