<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="googlechrome" />
  <package id="hwmonitor" />
  <package id="crystaldiskinfo" />
  <package id="anydesk" />
  <package id="speedtest" />
  <package id="treesizefree" />
  <package id="lightshot" />
  <package id="twinkle-tray" />
  <package id="k-litecodecpackmega" />
  <package id="rufus" />
  <package id="nbfc" />
  <package id="powertoys" />
  <package id="vlc" />
  <package id="malwarebytes" />
</packages>
